/* 200 Очень Тонкий */
@font-face {
    font-family: "Manrope-ExtraLight";
    src: url("../assets/fonts/Manrope-ExtraLight.ttf");
}

/* 300 Тонкий */
@font-face {
    font-family: "Manrope-Light";
    src: url("../assets/fonts/Manrope-Light.ttf");
}

/* 400 Обычный */
@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Regular.ttf");
}

/* 500  */
@font-face {
    font-family: "Manrope-Medium";
    src: url("../assets/fonts/Manrope-Medium.ttf");
}

/* 600 Полу-Жирный */
@font-face {
    font-family: "Manrope-SemiBold";
    src: url("../assets/fonts/Manrope-SemiBold.ttf");
}

/* 700 Жирный */
@font-face {
    font-family: "Manrope-Bold";
    src: url("../assets/fonts/Manrope-Bold.ttf");
}

/* 800 очень Жирный */
@font-face {
    font-family: "Manrope-ExtraBold";
    src: url("../assets/fonts/Manrope-ExtraBold.ttf");
}