/* Buttons */
button.btn {
    border: none;
}

/* TODO: Переделать цвета на Лешин вариант */
/*button.btn-primary {
    background: var(--primary);
    color: var(--font-color-dark)
}

button.btn-primary:hover {
    background: var(--primary-hover);
}

button.btn-primary:focus {
    background: var(--primary-pressed);
}

button.btn-primary > svg > path {
    fill: var(--dark-0);
}

button.btn-dark {
    background-color: var(--dark-3);
    color: var(--font-color-light);
}

button.btn-dark:hover {
    background-color: var(--black-3);
}

button.btn-dark:focus {
    background-color: var(--font-color-disabled);
}

button.btn-disabled {
    background-color: var(--disabled);
    color: var(--font-color-disabled)
}

button.btn-block {
    text-transform: none;
    border-radius: var(--radius-primary);
}

button.btn-sm {
    border-radius: var(--radius-primary);
}*/


