h1{
    font-family: Manrope, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
}

button.btn {
    font-family: 'Manrope', sans-serif;
    font-size: 0.8rem;
    line-height: 1.18rem;
    letter-spacing: -0.17px;
    text-transform: none;
}

button.btn-sm {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}